@import "../../styles/_vars";

.banner {
  height: 316px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media only screen and (min-width: $desktop) {
    width: 95%;
    height: 600px;
    margin: 0 auto;
  }
  @media only screen and (min-width: $bigScreen) {
    width: 95%;
    height: 600px;
    margin: 0 auto;
  }

  :global(.rec.rec-carousel) {
    background: #000;
  }

  :global(.rec.rec-slider-container) {
    margin: 0 20px;

    @media only screen and (min-width: $desktop) {
      margin: 0;
    }
    @media only screen and (min-width: $bigScreen) {
      margin: 0;
    }
  }

  :global(.rec-carousel a:nth-child(1)) {
    position: absolute;
    left: 0px;

    @media only screen and (min-width: $desktop) {
      left: -20px;
    }
    @media only screen and (min-width: $bigScreen) {
      left: -20px;
    }
  }

  :global(.rec-carousel a:nth-child(3n)) {
    position: absolute;
    right: 0px;

    @media only screen and (min-width: $desktop) {
      right: -20px;
    }
    @media only screen and (min-width: $bigScreen) {
      right: -20px;
    }
  }
  .arrowLeft,
  .arrowRight {
    width: 30px;
    height: 60px;
  }
  .banner__arrows {
    width: 46px;
    background: #242424;
    color: #fff;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 999;
  }

  .banner__title {
    position: absolute;
    z-index: 9999;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;

    @media only screen and (min-width: $desktop) {
      display: none;
    }
    @media only screen and (min-width: $bigScreen) {
      display: none;
    }

    p {
      font-family: $textFont;
      font-size: 18px;
      letter-spacing: -0.36px;
      color: $white;
    }

    .banner__title__box {
      border: solid 2px;
      display: flex;
      flex-direction: row;
    }
  }

  .banner__title__desktop {
    position: absolute;
    z-index: 999;
    width: 400px;
    text-align: left;
    left: 25%;
    transform: translate(-50%, -50%);
    top: 50%;
    display: none;

    @media only screen and (min-width: $desktop) {
      display: flex;
    }
    @media only screen and (min-width: $bigScreen) {
      display: flex;
    }

    h1 {
      text-align: left;
      color: $white;
      font: normal normal normal 50px/47px Lato;
    }
  }

  .banner__slide {
    width: 100vw;
    height: 316px;
    background-position-x: 20px;
    @media only screen and (min-width: $desktop) {
      height: 600px;
    }
    @media only screen and (min-width: $bigScreen) {
      height: 600px;
    }
  }

  .slide1 {
    background: url("../../public/images/banner/slider1-desktop.png") bottom
      center;
    background-size: auto;
    opacity: 0.6;
    @media only screen and (min-width: $desktop) {
      background-size: cover;
    }
    @media only screen and (min-width: $bigScreen) {
      background-size: cover;
    }
    img {
      width: 100%;
    }
  }

  .slide2 {
    background: url("../../public/images/banner/slider2-desktop.png") bottom
      center;
    background-size: auto;
    opacity: 0.6;
    @media only screen and (min-width: $desktop) {
      background-size: cover;
    }
    @media only screen and (min-width: $bigScreen) {
      background-size: cover;
    }
    img {
      width: 100%;
    }
  }

  .slide3 {
    background: url("../../public/images/banner/slider3-desktop.png") bottom
      center;
    background-size: auto;
    opacity: 0.6;
    @media only screen and (min-width: $desktop) {
      background-size: cover;
    }
    @media only screen and (min-width: $bigScreen) {
      background-size: cover;
    }

    img {
      width: 100%;
    }
  }

  .slide4 {
    background: url("../../public/images/banner/slider4-desktop.png") bottom
      center;
    background-size: auto;
    opacity: 0.6;
    @media only screen and (min-width: $desktop) {
      background-size: cover;
    }
    @media only screen and (min-width: $bigScreen) {
      background-size: cover;
    }

    img {
      width: 100%;
    }
  }
}
