$white: #ffffff;
$gray1: #484848;
$black: #262626;
$pink: #c491a5;
$pinkLight2: #efe1e6;
$grayText: #2e2e2e;
$grayDark: #2f2f2f;
$grayLight: #c5c5c5;
$grayLight2: #cecece;
$gray2: #707070;
$pinkLight: rgb(211, 170, 186, 0.13);
$pinkLight3: #c491a5;
$textFont: "Lato", sans-serif;
$grayLight3: #999999;

// Breackpoints for media query
$mobile: 300px;
$tablet: 600px;
$desktop: 768px;
$bigScreen: 1280px;
